<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>会员中心</title>
    <link rel="stylesheet" href="assets/css/furtive.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/base.css" type="text/css" />
  </head>
  <body>
    <section class="measure p2">
      <h3 class="txt--center">操作结果</h3>
      <p class="fnt--red bg--off-white txt--center h4 py2" style="min-height: 100px;">
        没有找到对应的会员
      </p>
      <a class="btn--blue h5" href="javascript:history.back()" class="my2" style="display:block;">返回</a>
    </section>
  </body>
</html>
