<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>会员中心</title>
    <link rel="stylesheet" href="assets/css/furtive.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/base.css" type="text/css" />
  </head>
  <body>
    <div class="c-main-container">
      <section class="l-container">
        <h3 class="u-text-align-center">操作结果</h3>
        <p class="h4 u-s-pt-base u-text-align-center" style="min-height: 100px; color:red;">
          没有找到对应的会员
        </p>
        <a class="c-button c-button--full-bleed" href="javascript:history.back()">返回</a>
      </section>
    </div>
    </body>
</html>
