<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>操作结果</title>
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>
<body class="u-color-bg-primary">
  <div class="c-main-container">
    <section class="l-container">
      <h3 class="u-text-align-center">发生错误</h3>
      <p class="h4 u-s-pt-base u-text-align-center u-color-error" style="min-height: 100px;">
        {{msg}}
      </p>
      <a class="c-button u-three-quarters u-align-center-block" href="javascript:history.back()">返回</a>
    </section>
  </div>
</body>
</html>