/* ===========================================================================
   @Utilities -> colors
   ========================================================================= */
.u-color-bg-primary { background: $color-bg-primary !important; }
.u-color-bg-error { background: $color-state-error !important; }
.u-color-bg-white { background: $color-white !important; }

.u-color-error { 
   background: $color-state-error !important;
   color: $color-white !important;
}
.u-color-success { 
   background: #31D408 !important;
   color: $color-white !important;
}

.u-color-enhance {
   color: $color-state-error !important;
}